
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

</head>
<body style="background-color:#58d8f1; margin:0px; font-family:Arial, Helvetica, sans-serif;  ">

    <div>
        

                        <article>
                            <h3 style="color:#003876">

                                Rainbow Entertainment is committed to provide quality cinema viewing experience to its customers. We have introduced a number of innovative features to make movie viewing a pleasurable and more comfortable experience. Rainbow Entertainment empowers you by offering a platform to book movie tickets online, which enables you to reserve the hot seat of your choice in the movie theatre anytime.


                            </h3>


                        </article>

                        
    </div>

</body>
</html>


