
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Successful,Thank You for registering @Model.Customer_Name </h1>
<a class="btn-secondary btn" asp-action="List">View List</a>

