
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MemberLayout1.cshtml";
}

<h1>Details</h1>


<h3>This hello is from the details view</h3>


@section Top{
        <h2>This message is from section top.</h2><br/>
    <p>Thank you</p>
    }

@section Scripts{
<script src="~/js/CustomJavaScript.js"></script>
 }