
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_MemberLayout1.cshtml";
}

<h1>Register</h1>

<h2>This hello message is from the Register View</h2>

@*@section Top{
    <h2>This message is from section top.</h2>
    <br />
    <p>Thank you This is Register</p>
}*@

