
    <table width="100" cellpadding="10" cellspacing="10" border="1">
        <tr>
            <th>Team</th>
            <th>Play</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>Ranger</td>
            <td>5</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Chelsea</td>
            <td>5</td>
            <td>9</td>
        </tr>
    </table>