@model Book
@{
    ViewData["Title"] = "Thank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Successful,Thank You for registering @Model.BookName </h1>
<a class="btn-secondary btn" asp-action="Lists">View List</a>


